# Create a .env file in the same directory as the yml to specify the variables needed for the deployment
services:
  # Cloudflared to expose Quarkus to the outside
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARED_TUNNEL_TOKEN}
    networks:
      - backend

  postgres:
    image: postgres:18
    container_name: postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - backend

  # The files container is not exposed, so it is only accessible via cloudflared.
  # Cloudflared handles SSL termination.
  files:
    image: ghcr.io/perpheads/perpheads-files:latest
    container_name: ph-files
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      - QUARKUS_LOG_FILE_ENABLED=true
      - QUARKUS_HTTP_PROXY_PROXY_ADDRESS_FORWARDING=true
      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://postgres/${POSTGRES_USER}
      - QUARKUS_DATASOURCE_USERNAME=${POSTGRES_USER}
      - QUARKUS_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - S3_BUCKET_ENDPOINT=${S3_BUCKET_ENDPOINT}
      - S3_BUCKET_ACCESS_KEY=${S3_BUCKET_ACCESS_KEY}
      - S3_BUCKET_SECRET_KEY=${S3_BUCKET_SECRET_KEY}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
    networks:
      - backend
    volumes:
      - ./logs:/deployments/logs
      - ./files:/deployments/files


volumes:
  postgres_data:

networks:
  backend:
    driver: bridge